.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
}

.button_end {
  position: absolute;
  top: 14px;
  right: 12px;
}

.score {
  position: absolute;
  top: 20px;
  right: 125px;
  margin: 0;
}

.canvas_container {
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: -2;
  transition: all 1s ease;
}

.canvas_container_active {
  z-index: 2;
  left: 0;
  transition: all 1s ease;
}